<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>stackit</title>
</head>

<body layout="column">
  <div ng-include="'client/stacks/views/_header.ng.html'"></div>
  <div ui-view></div>
  <div ng-include="'client/stacks/views/_footer.ng.html'"></div>
</body>
