<md-content layout="row">
  <span flex></span>
  <md-whiteframe layout="column" flex="50">
    <div layout="row" layout-align="space-around center">
      <div>Login with:</div>
      <md-button>Twitter</md-button>
      <md-button>Facebook</md-button>
    </div>
    <div ng-show="lc.error" class="md-warn"><small>{{ lc.error }}</small></div>
    <form layout="column">
      <md-input-container>
        <md-icon md-svg-icon="content:ic_mail_24px"></md-icon>
        <input type="text" ng-model="lc.credentials.email"
               placeholder="email" aria-label="email" />
      </md-input-container>
      <md-input-container>
        <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
        <input type="password" ng-model="lc.credentials.password"
               placeholder="password" aria-label="password" />
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="lc.login()"
                 aria-label="login">Sign In</md-button>
    </form>
    <div layout="row" layout-align="space-around center">
      <a href="/resetpw">Forgot password?</a>
      <a href="/register">Create an account</a>
    </div>
  </md-whiteframe>
  <span flex></span>
</md-content>
