<md-divider></md-divider>
<div class="footer md-caption" layout="row">
  <span flex></span>
  <div>
    <a ng-href="/about">about</a>
  </div>
  <div>
    <a ng-href="/faq">faq</a>
  </div>
  <div>
    <a ng-href="/contact">contact</a>
  </div>
  <span flex></span>
</div>
