<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class='md-secondary' ng-href="/">stackit</md-button>
    <span flex></span>
    <md-button class="md-secondary" ng-href="/register" ng-hide="$root.currentUser">Register</md-button>
    <md-button class="md-secondary" ng-controller="stackAddCtrl" ng-click="showDialog($event)" ng-show="$root.currentUser">Add Stack</md-button>
    <md-button class="md-secondary" ng-href="/login" ng-hide="$root.currentUser">Login</md-button>
    <md-button class="md-secondary" ng-href="/logout" ng-show="$root.currentUser">Logout</md-button>
  </div>
</md-toolbar>
