<md-dialog aria-label="Add Stack">
  <form role="form" name="stackAddForm" ng-submit="submit()" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Stack</h2>
        <span flex></span>
        <md-button class="md-icon-button" type="button" ng-click="cancel()">
          <md-icon md-svg-src="content:ic_clear_24px" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-input-container>
        <label>Title</label>
        <input name="stackTitle" ng-model="stack.title" minlength="10" md-maxlength="30" required>
        <div ng-messages="stackAddForm.stackTitle.$error" ng-if="stackAddForm.$submitted">
          <div ng-message="minlength">Your title must be at least 10 characters long!</div>
          <div ng-message="md-maxlength">Your title cannot exceed 30 characters!</div>
          <div ng-message="required">A title is required!</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <input name="stackDescription" ng-model="stack.description">
      </md-input-container>
      <md-input-container>
        <label>Url</label>
        <input name="stackUrl" ng-model="stack.url" required>
        <div ng-messages="stackAddForm.stackUrl.$error" ng-if="stackAddForm.$submitted">
          <div ng-message="required">You must provide a link to the content!</div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button class="md-raised" type="button" ng-click="cancel()">Close</md-button>
      <md-button class="md-primary md-raised" type="submit">Submit Stack</md-button>
    </div>
  </form>
</md-dialog>
