<md-subheader>
  <span class="md-body-2">{{stack.title}}</span>
</md-subheader>
<div layout="row">
  <div flex="75">
    <p>show details of the stack, popular sub stacks, comments</p>
  </div>
  <div flex="25">
    <h3>substacks</h3>
    <md-grid-list md-cols="1" md-gutter="8px" md-row-height="16:9">
      <md-grid-tile ng-repeat="stack in substacks">
        <div layout="column">
          <div>description: {{stack.description}}</div>
          <div>parent stack:{{stack.parentStack}}</div>
          <div>user: {{stack.user}}</div>
        </div>
        <a ng-href="/s/{{stack._id}}">
          <md-grid-tile-footer>
            <h3>{{stack.title}}</h3>
          </md-grid-tile-footer>
        </a>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
