<md-subheader>
  <span class="md-body-2">Popular tags:</span>
  <md-chips ng-model="tags" readonly="true"></md-chips>
</md-subheader>
<md-grid-list md-cols="4" md-gutter="8px" md-row-height="16:9">
  <md-grid-tile ng-repeat="stack in stacks">
    <div layout="column">
      <div>description: {{stack.description}}</div>
      <div>parent stack:{{stack.parentStack}}</div>
      <div>user: {{stack.user}}</div>
    </div>
    <a ng-href="/s/{{stack._id}}">
      <md-grid-tile-footer>
        <h3>{{stack.title}}</h3>
      </md-grid-tile-footer>
    </a>
  </md-grid-tile>
</md-grid-list>
